<div class="page chapter-start">

	<!--Title-->
	<h2 class="title-text">Mythology</h2>
	<img class="title-underline" src="../../images/underline.png">

	<!--Text-->
	<div class="text-box text-title">
		<img class="initiale" src="../../images/initiales/B.png">
		<p>
			evor Zeit floss und Raum Gestalt annahm, war das Nichts.
			Kein Anfang, kein Ende, kein Unterschied.
			Und doch war das Nichts das erste Lebewesen: Tarum, das Urwesen.
			In der grenzenlosen Stille erkannte es sich selbst.
			Doch ohne Gegenüber war es einsam.
			So entschloss es sich, mehr als eins zu sein, und teilte sein Wesen, um sich selbst Gesellschaft zu leisten.
			Aus Tarum wurden zwei: Nesis, Gott des Seins, und Itschn, Gott des Nichts.
			Gemeinsam existierten sie.
			Sie sprachen und philosophierten über das, was war, und über das, was sein könnte.
			Lange Zeit genügte dies.
			Nesis jedoch suchte Wandel, wo Stillstand herrschte.
			Itschn hingegen fand Zufriedenheit darin, das Nichts zu sein.
			So rieben sich ihre Geister.
			Was nicht vereinbar war, konnte nicht gemeinsam bestehen.
			Und so trennten sich ihre Wege.
			Nesis wurde zum Künstler, Itschn zur Leinwand.
			Sonnen entflammten, Sterne spannten sich über die Leere, und Planeten nahmen Gestalt an.
			Doch seine Werke blieben stumm.
			Kein Bewusstsein würdigte sie.
			Selbst die Schöpfung genügte ihm nicht mehr.
			Aus dieser Stille entstand der Wunsch nach Leben.
		</p>
	</div>

</div>

<div class="page chapter">
	<!--Text-->
	<div class="text-box text-no-title">
		<p>
			Bevor Zeit floss und Raum Gestalt annahm, war das Nichts.
			Kein Anfang, kein Ende, kein Unterschied.
			Und doch war das Nichts das erste Lebewesen: Tarum, das Urwesen.
			In der grenzenlosen Stille erkannte es sich selbst.
			Doch ohne Gegenüber war es einsam.
			So entschloss es sich, mehr als eins zu sein, und teilte sein Wesen, um sich selbst Gesellschaft zu leisten.
			Aus Tarum wurden zwei: Nesis, Gott des Seins, und Itschn, Gott des Nichts.
			Gemeinsam existierten sie.
			Sie sprachen und philosophierten über das, was war, und über das, was sein könnte.
			Lange Zeit genügte dies.
			Nesis jedoch suchte Wandel, wo Stillstand herrschte.
			Itschn hingegen fand Zufriedenheit darin, das Nichts zu sein.
			So rieben sich ihre Geister.
			Was nicht vereinbar war, konnte nicht gemeinsam bestehen.
			Und so trennten sich ihre Wege.
			Nesis wurde zum Künstler, Itschn zur Leinwand.
			Sonnen entflammten, Sterne spannten sich über die Leere, und Planeten nahmen Gestalt an.
			Doch seine Werke blieben stumm.
			Kein Bewusstsein würdigte sie.
			Selbst die Schöpfung genügte ihm nicht mehr.
			Aus dieser Stille entstand der Wunsch nach Leben.
		</p>
	</div>

</div>

<div class="page sub-chapter">

	<!--Title-->

	<!--Text-->

</div>